/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #007bff; /* blue background */
  padding: 1rem 2rem;
  color: white;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
  border-radius: 50%; /* optional: circle logo */
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a,
.nav-links {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
  font-weight: 500;
  cursor: pointer;
  align-items: center;
}


.nav-links a:hover,
.logout-link:hover {
  text-decoration: underline;
}

.logout-link svg {
  margin-right: 0.3rem;
}
